<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../plugin/elementui/element@2.15.7.css"/>
    <link rel="stylesheet" href="../css/signup.css"/>
    <script src="../plugin/vue/vue.min@2.6.14.js"></script>
    <script src="../plugin/elementui/element@2.15.7.js"></script>
    <script src="../plugin/vue/httpVueLoader.js"></script>
    <script src="../plugin/vue/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
    <el-row type="flex" justify="center" class="title">
        <el-col :span="4">Sign Up</el-col>
    </el-row>
    <el-row type="flex" justify="center" class="form">
        <el-col :span="4">
            <el-form :model="signupForm" status-icon :rules="rules" ref="signupForm" label-width="100px">
                <el-form-item label="用户名" prop="name">
                    <el-input size="small" v-model="signupForm.name"></el-input>
                </el-form-item>
                <el-form-item label="昵称" prop="nickname">
                    <el-input size="small" v-model="signupForm.nickname"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="passwd">
                    <el-input size="small" type="password" v-model="signupForm.passwd"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="passwd1">
                    <el-input size="small" type="password" v-model="signupForm.passwd1"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input size="small" v-model="signupForm.email"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button size="small" @click="reset('signupForm')">重置</el-button>
                    <el-button size="small" type="primary" @click="submit('signupForm')">注册</el-button>
                </el-form-item>
                <el-form-item label="已有账号？">
                    <a href="./signin.html">直接登录</a>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
</body>
<script src="../js/common.js" charset="utf-8"></script>
<script src="../js/signup.js" charset="utf-8"></script>
</html>